.mycode {
	border: 1px solid #ccc;
	background: #F5F5F5;
	padding: 20px 30px;
	margin: 5px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 14px;
}

.panel-body {
	padding: 30px;
}