<h2>Git</h2>

<ul>
	<li>
		<h3>Install & Config Git under Ubuntu</h3>
		<ol>
			<li>
				<h4>Installation</h4>
				<code>$ sudo apt-get install git</code>
			</li>
			<li>
				<h4>set user information</h4>
				<code>$ git config --global user.name "nicoson"</code>
				<code>$ git config --global user.email "nicoson@163.com"</code>
			</li>
			<li>
				<h4>Authenticating with GitHub</h4>
				<ol>
					<li>
						<h5>) check for SSH keys (id_rsa.pub)</h5>
						<code>$ ls -al ~/.ssh</code>
					</li>
					<li>
						<h5>) if not, generate a new SSH key</h5>
						<code>$ ssh-keygen -t rsa -C "nicoson@163.com"</code> <br />
						<p>(press 'Enter', no need to set passphrase)</p>

						<code>Enter file in which to save the key (/Users/you/.ssh/id_rsa): [Press enter]</code> <br />
						<code>Enter passphrase (empty for no passphrase): [Type a passphrase]</code> <br />
						<code>Enter same passphrase again: [Type passphrase again]</code> <br />
						<code>Your identification has been saved in /Users/you/.ssh/id_rsa.</code> <br />
						<code>Your public key has been saved in /Users/you/.ssh/id_rsa.pub.</code> <br />
						<code>The key fingerprint is:</code> <br />
						<code>01:0f:f4:3b:ca:85:d6:17:a1:7d:f0:68:9d:f0:a2:db your_email@example.com</code> <br />
					</li>
					<li>
						<h5>) get two keys</h5>
						<code>/home/nxh/.ssh/id_rsa</code>
						id_rsa: private key
						id_rsa.pub: public key
					</li>
					<li>
						<h5>) login GitHub to finish the authenticating</h5>
						<p>(1) Account settings -> SSH Keys</p>
						<p>(2) Fill in the title as you wish</p>
						<p>(3) paste the public key</p>
					</li>
				</ol>
			</li>
		</ol>
	</li>

	<li>
		<h3>Usage</h3>
		<ol>
			<li>
				<h4>set remote repository</h4>
				<p>login GitHub</p>
				<ol>
					<li>) Create a new repo</li>
					<li>) input repo name</li>
					<li>) keep default set</li>
					<li>) create repository</li>
					<li>) copy SSH</li>
				</ol>
			</li>
			<li>
				<h4>set local repository</h4>
				<ol>
					<li>
						<h5>) create local repository</h5>
						<code>$ git init</code>
					</li>
					<li>
						<h5>) add files</h5>
						<code>$ git add filename</code>
					</li>
					<li>
						<h5>) submit to repository</h5>
						<code>$ git commit -m "comments xxxxxx"</code>
					</li>
					<li><h5>) update to the remote repository</h5></li>
					<li>
						<h5>) connect to the remote repository (for the first time)</h5>
						<code>$ git remote add origin git@github.com:nicoson/xxxxx.git</code>

						<li>
							<h5>) push repository</h5>
							<code>$ git push -u origin master</code>
						</li>
						<li>
							<h5>) change the remote repository</h5>
							<code>$ git remote set-url origin git@github.com:nicoson/xxxxx.git</code>
						</li>
						<li>
							<h5>) chech the status</h5>
							<code>$ git status</code>
						</li>
					</li>
				</ol>
			</li>
		</ol>
	</li>
</ul>


<div class="panel panel-info">
		<div class="panel-heading">setup Git in Windows</div>
		<div class="panel-body">
			<ol>
				<li>
					有高人已经把模拟环境和Git都打包好了，名叫msysgit，只需要下载一个单独的exe安装程序，其他什么也不用装，绝对好用。msysgit是Windows版的Git，从http://msysgit.github.io/下载，然后按默认选项安装即可。
				</li>
				<li>
					安装完成后，在开始菜单里找到“Git”->“Git Bash”，蹦出一个类似命令行窗口的东西，就说明Git安装成功！
				</li>
				<li>
					安装完成后，还需要最后一步设置，在命令行输入：
					<div class="mycode">
						<p>
							$ git config --global user.name "Your Name" <br />
							$ git config --global user.email "email@example.com"
						</p>
					</div>

					注意<code>git config</code>命令的<code>--global</code>参数，用了这个参数，表示你这台机器上所有的Git仓库都会使用这个配置，当然也可以对某个仓库指定不同的用户名和Email地址。
				</li>
			</ol>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">New Repository</div>
		<div class="panel-body">
			<ol>
				<li>
					创建一个空目录：
					<div class="mycode">
						<p>
							$ mkdir learngit<br />
							$ cd learngit<br />
							$ pwd<br />
							/Users/michael/learngit
						</p>
					</div>
					pwd命令用于显示当前目录
				</li>
				<li>
					通过<code>git init</code>命令把这个目录变成Git可以管理的仓库：
					<div class="mycode">
						<p>
							$ git init <br />
							Initialized empty Git repository in /Users/michael/learngit/.git/
						</p>
					</div>
				</li>
				<li>
					用命令<code>git add</code>告诉Git，把文件添加到仓库：
					<div class="mycode">
						<p>
							$ git add readme.txt
						</p>
					</div>
				</li>
				<li>
					用命令<code>git commit</code>告诉Git，把文件提交到仓库：
					<div class="mycode">
						<p>
							$ git commit -m "wrote a readme file" <br />
							[master (root-commit) cb926e7] wrote a readme file<br />
							1 file changed, 2 insertions(+)<br />
							create mode 100644 readme.txt
						</p>
					</div>
					简单解释一下<code>git commit</code>命令，<code>-m</code>后面输入的是本次提交的说明，可以输入任意内容，当然最好是有意义的，这样你就能从历史记录里方便地找到改动记录。
				</li>
				<li>
					<code>commit</code>可以一次提交很多文件，所以你可以多次<code>add</code>不同的文件，比如：
					<div class="mycode">
						<p>
							$ git add file1.txt<br />
							$ git add file2.txt<br />
							$ git add file3.txt<br />
							$ git commit -m "add 3 files."
						</p>
					</div>
				</li>
			</ol>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Version Control</div>
		<div class="panel-body">
			<ol>
				<li>
					<code>git status</code>命令可以让我们时刻掌握仓库当前的状态，上面的命令告诉我们，<code>readme.txt</code>被修改过了，但还没有准备提交的修改。
					<div class="mycode">
						<p>
							$ git status<br />
							# On branch master<br />
							# Changes not staged for commit:<br />
							#   (use "git add <file>..." to update what will be committed)<br />
							#   (use "git checkout -- <file>..." to discard changes in working directory)<br />
							#<br />
							#    modified:   readme.txt<br />
							#<br />
							no changes added to commit (use "git add" and/or "git commit -a")
						</p>
					</div>
				</li>
				<li>
					<code>git diff</code>查看difference:
					<div class="mycode">
						<p>
							$ git diff readme.txt <br />
							diff --git a/readme.txt b/readme.txt<br />
							index 46d49bf..9247db6 100644<br />
							--- a/readme.txt<br />
							+++ b/readme.txt<br />
							@@ -1,2 +1,2 @@<br />
							-Git is a version control system.<br />
							+Git is a distributed version control system.<br />
							Git is free software.
						</p>
					</div>
				</li>
				<li>
					<code>git log</code>命令查看历史记录:
					<div class="mycode">
						<p>
							$ git log<br />
							commit 3628164fb26d48395383f8f31179f24e0882e1e0<br />
							Author: Michael Liao <askxuefeng@gmail.com><br />
							Date:   Tue Aug 20 15:11:49 2013 +0800<br />
							<br />
							append GPL<br />
							<br />
							commit ea34578d5496d7dd233c827ed32a8cd576c5ee85<br />
							Author: Michael Liao <askxuefeng@gmail.com><br />
							Date:   Tue Aug 20 14:53:12 2013 +0800 <br />
							<br />
							add distributed<br />
							<br />
							commit cb926e7ea50ad11b8f9e909c05226233bf755030<br />
							Author: Michael Liao <askxuefeng@gmail.com><br />
							Date:   Mon Aug 19 17:51:55 2013 +0800 <br />
							<br />
							wrote a readme file
						</p>
					</div>
				</li>
				<li>
					<code>git reset</code>命令回退到上一个版本“add distributed”:
					<div class="mycode">
						<p>
							$ git reset --hard HEAD^<br />
							HEAD is now at ea34578 add distributed
						</p>
					</div>
					上一个版本就是<code>HEAD^</code>，上上一个版本就是<code>HEAD^^</code>，当然往上100个版本写100个^比较容易数不过来，所以写成<code>HEAD~100</code>。
				</li>
				<li>
					通过版本号进行版本回退：
					<div class="mycode">
						<p>
							$ git reset --hard 3628164<br />
							HEAD is now at 3628164 append GPL
						</p>
					</div>
				</li>
			</ol>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Github</div>
		<div class="panel-body">
			在这个世界上有个叫GitHub的神奇的网站，从名字就可以看出，这个网站就是提供Git仓库托管服务的，所以，只要注册一个GitHub账号，就可以免费获得Git远程仓库。
			<ol>
				<li>
					创建<code>SSH Key</code>。打开<code>Git Bash</code>，创建SSH Key：
					<div class="mycode">
						<p>
							$ ssh-keygen -t rsa -C "youremail@example.com"
						</p>
					</div>
					<p>
						你需要把邮件地址换成你自己的邮件地址，然后一路回车，使用默认值即可，由于这个Key也不是用于军事目的，所以也无需设置密码。
					</p>

					<p>
						如果一切顺利的话，可以在用户主目录里找到.ssh目录，里面有id_rsa和id_rsa.pub两个文件，这两个就是SSH Key的秘钥对，id_rsa是私钥，不能泄露出去，id_rsa.pub是公钥，可以放心地告诉任何人。
					</p>
				</li>
				<li>
					登陆GitHub，打开“Account settings”，“SSH Keys”页面.然后，点“Add SSH Key”，填上任意Title，在Key文本框里粘贴id_rsa.pub文件的内容.点“Add Key”，你就应该看到已经添加的Key.
				</li>
				<li>
					<p>add remote database</p>
					<p>登陆GitHub，然后，在右上角找到“Create a new repo”按钮，创建一个新的仓库.</p>
				</li>
				<li>
					根据GitHub的提示，在本地的learngit仓库下运行命令：
					<div class="mycode">
						<p>
							$ git remote add origin git@github.com:michaelliao/learngit.git
						</p>
						注意，把上面的michaelliao替换成你自己的GitHub账户名
					</div>
				</li>
				<li>
					用<code>git push</code>命令, 把本地库的所有内容推送到远程库上：
					<div class="mycode">
						<p>
							$ git push -u origin master<br />
							Counting objects: 19, done.<br />
							Delta compression using up to 4 threads.<br />
							Compressing objects: 100% (19/19), done.<br />
							Writing objects: 100% (19/19), 13.73 KiB, done.<br />
							Total 23 (delta 6), reused 0 (delta 0)<br />
							To git@github.com:michaelliao/learngit.git<br />
							* [new branch]      master -> master<br />
							Branch master set up to track remote branch master from origin.
						</p>
					</div>
				</li>
				<li>
					之后，只要本地作了提交，就可以通过命令：
					<div class="mycode">
						<p>
							$ git push origin master
						</p>
					</div>
				</li>
				<li>
					SSH警告，当你第一次使用Git的clone或者push命令连接GitHub时，会得到一个警告：
					<div class="mycode">
						<p>
							The authenticity of host 'github.com (xx.xx.xx.xx)' can't be established.<br />
							RSA key fingerprint is xx.xx.xx.xx.xx.<br />
							Are you sure you want to continue connecting (yes/no)?<br />
						</p>
					</div>
					<p>这是因为Git使用SSH连接，而SSH连接在第一次验证GitHub服务器的Key时，需要你确认GitHub的Key的指纹信息是否真的来自GitHub的服务器，输入yes回车即可。</p>

					<p>Git会输出一个警告，告诉你已经把GitHub的Key添加到本机的一个信任列表里了：</p>
					<div class="mycode">
						<p>
							Warning: Permanently added 'github.com' (RSA) to the list of known hosts.
						</p>
					</div>
					这个警告只会出现一次，后面的操作就不会有任何警告了。
				</li>
				<li>
					clone from github
					<div class="mycode">
						<p>
							$ git clone git@github.com:michaelliao/gitskills.git<br />
							Cloning into 'gitskills'...<br />
							remote: Counting objects: 3, done.<br />
							remote: Total 3 (delta 0), reused 0 (delta 0)<br />
							Receiving objects: 100% (3/3), done.<br />
							<br />
							$ cd gitskills<br />
							$ ls<br />
							README.md
						</p>
					</div>
				</li>
			</ol>
		</div>
	</div>
