<h2>Node.JS</h2>

<ul>
	<li>
		<h3>NodeJS Installation under Ubuntu</h3>
		<ol>
			<li>install g++ <br/>
				<code>$ sudo apt-get install g++</code>
			</li>
			<li>download "tar.gz" source file package</li>
			<li>unzip source file <br/>
				<code>$ tar zxvf node-v0.12.2.tar.gz</code>
			</li>
			<li>cd source file</li>
			<li>install package <br/>
				<code>$ ./configure</code> <br/>
				<code>$ make</code> <br/>
				<code>$ sudo make install</code> <br/>
				<code>$ node --version</code> <br/>
				<code>$ npm --version</code>
			</li>
		</ol>
	</li>

	<li>
		<h3>Install Express</h3>
		<ol>
			<li><code>$ sudo npm install express -gd</code></li>
			<li><code>npm install express-generator -g</code></li>
			<li>reboot system</li>
		</ol>
	</li>
</ul>