<h2>Sublime</h2>
<h3>install & config Sublime in Ubuntu</h3>
<ol>
	<li>download "tar.bz2" package</li>
	<li>unzip file
		<code>$ tar -xvf Sublime\ Text\ 2.0.2\ x64.tar.bz2</code>
	</li>
	<li>move the file directory to /usr/local/lib
		<code>$ sudo mv Sublime\ Text\ 2 /usr/local/lib</code>
	</li>
	<li>set shortcut link
		<code>$ sudo ln -s /usr/local/lib/Sublime\ Text\ 2/sublime_text /usr/bin/sublime</code>
	</li>
	<li>sublime 2 license
		<code>
			----- BEGIN LICENSE 
			Alexander 
			Single User License 
			EA7E-814345 
			51F47F09 4EAB1285 7827EFF0 8B1207DC 
			A76A6EA3 E1A1CA7A DC1F2703 14,897,784 
			8EDC1C82 3F2A58B9 1C0C8B24 67686432 
			281245B3 6233DE5C ADC5C2F9 61FB8A04 
			171B63EF 86BA423F 6AC884FD 3273A7AA 
			5F50A6DB CE7859AE D62D2B37 AEEDD8C2 
			078A8A20 70EEA791 84F48C1E 8ABA7DEB 
			0B3907C0 C9A3523B 0091A045 6F67AED8 
			------ END LICENSE ------
		</code>
	</li>
	<li>install zen coding
		<ol>
			<li>) install package control
				<p>ctrl+' or view -> show console</p>
				<p>paste:</p>
				<code>import urllib2,os,hashlib; h = 'eb2297e1a458f27d836c04bb0cbaf282' + 'd0e7a3098092775ccb37ca9d6b2e4b7d'; pf = 'Package Control.sublime-package'; ipp = sublime.installed_packages_path(); os.makedirs( ipp ) if not os.path.exists(ipp) else None; urllib2.install_opener( urllib2.build_opener( urllib2.ProxyHandler()) ); by = urllib2.urlopen( 'http://packagecontrol.io/' + pf.replace(' ', '%20')).read(); dh = hashlib.sha256(by).hexdigest(); open( os.path.join( ipp, pf), 'wb' ).write(by) if dh == h else None; print('Error validating download (got %s instead of %s), please try manual install' % (dh, h) if dh != h else 'Please restart Sublime Text to finish installation')</code>
			</li>
			<li>) restart sublime</li>
			<li>) call the package control panel
				<code>Ctrl + Shift + P</code>
			</li>
			<li>) install package</li>
			<li>) emmet</li>
		</ol>
	</li>
	<li>set hot-key
		<ol>
			<li>) reindent:
				<p>Preferences -> Key Bindings-User</p>
				<code>{ "keys": ["ctrl+alt+f"], "command": "reindent" }</code>
			</li>
		</ol>
	</li>
	<li>
		<h4>set ejs as html</h4>
		<p>add <string>ejs</string> in <code>%APPDATA%/Packages/HTMLpackages/HTML.tmLanguage</code>
		</p>
	</li>
</ol>